@model DashboardViewModel

@{
    ViewData["Title"] = "Monthly Budget";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.FullBudget" class="form-label">What is your monthly budget?</label>
                    <input asp-for="@Model.FullBudget" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="FullBudget" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Currency" class="form-label">Currency</label>
                    <select asp-for=@Model.Currency class="form-select" aria-label="Currency">
                        <option selected>Select an option</option>
                        @await Component.InvokeAsync("CurrencyChoicesLoad")
                    </select>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            
        </section>
    </div>
</div>