@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav text-bg-dark " >
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white rounded-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-warning btn-link text-black rounded-3">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <button type="button" class="btn btn-outline-light me-2 rounded-3" style="padding: 0">
            <a class="nav-link" asp-controller="User" asp-action="Login">Login</a>
        </button>
    </li>
    <li class="nav-item" >
        <button type="button" class="btn btn-warning rounded-3" style="padding: 0">
            <a class="nav-link text-black" asp-controller="User" asp-action="Register">Register</a>
        </button>
    </li>
}
</ul>
