@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-dark">Error.</h1>

@if (@Model.Message != null)
{
    <h2 class="text-dark">@Model.Message</h2>
}
else
{
    <h2 class="text-dark">An error occurred while processing your request.</h2>
}
